<a href="https://colab.research.google.com/github/classical16/gomycode/blob/main/Dataframe_Filtering_and_Selection_using_iloc_and_loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
        'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
        'Age': [30, 40, 25, 35, 45, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
        'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
        'Experience': [3, 7, 2, 5, 10, 4]}

employee_df = pd.DataFrame(data)

In [2]:
first_three_rows = employee_df.iloc[:3]

In [3]:
marketing_rows = employee_df.loc[employee_df['Department'] == 'Marketing']

In [4]:
selected_columns_rows = employee_df.iloc[:4, [2, 3]]

In [5]:
selected_columns_rows_male = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary','Experience']]