<a href="https://colab.research.google.com/github/classical16/gomycode/blob/main/ydata_profiling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1: Data Exploration with Pandas
Load the provided dataset into a pandas dataframe
Use pandas to explore the dataset. For example, you might start by using the head() and info() methods to get an overview of the data.
Look for missing values in the dataset. You can use the isnull() method to identify missing values.
Use pandas to calculate some summary statistics for the dataset. For example, you might use the describe() method to get summary statistics for the numerical columns in the dataset.
Part 2: Data Exploration with ydata-Profiling
Use ydata-profiling to generate a report of the provided dataset.
Look for missing values in the dataset. You can use the report generated by ydata-profiling to identify missing values.
Look for correlations between different columns in the dataset. You can use the report generated by ydata-profiling to identify correlations between different columns.
Identify any outliers or unusual values in the dataset. You can use the report generated by ydata-profiling to identify any outliers or unusual values.

In [4]:
import pandas as pandas

df = pd.read_csv('/content/Tunisair_flights_dataset.csv')

In [5]:
# display first few rows of the dataframe
print("first few rows of the dataset:")
print(df.head())

first few rows of the dataset:
  Filght_date Flight_ID Departure point Arrival point  \
0  2016-01-03  TU 0712              CMN           TUN
1  2016-01-13  TU 0757              MXP           TUN
2  2016-01-16  TU 0214              TUN           IST
3  2016-01-17  TU 0480              DJE           NTE
4  2016-01-17  TU 0338              TUN           ALG

  Scheduled_departure_time Scheduled_arrival_time STATUS Aircraft_code  \
0      2016-01-03 10:30:00    2016-01-03 12.55.00    ATA     TU 32AIMN
1      2016-01-13 15:05:00    2016-01-13 16.55.00    ATA     TU 31BIMO
2      2016-01-16 04:10:00    2016-01-16 06.45.00    ATA     TU 32AIMN
3      2016-01-17 14:10:00    2016-01-17 17.00.00    ATA     TU 736IOK
4      2016-01-17 14:30:00    2016-01-17 15.50.00    ATA     TU 320IMU

   Arrival delay
0          260.0
1           20.0
2            0.0
3            0.0
4           22.0

In [6]:
# display a consise summary of the dataframe
print("\nDataFrame information:")
print(df.info())

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107833 entries, 0 to 107832
Data columns (total 9 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Filght_date               107833 non-null  object
 1   Flight_ID                 107833 non-null  object
 2   Departure point           107833 non-null  object
 3   Arrival point             107833 non-null  object
 4   Scheduled_departure_time  107833 non-null  object
 5   Scheduled_arrival_time    107833 non-null  object
 6   STATUS                    107833 non-null  object
 7   Aircraft_code             107833 non-null  object
 8   Arrival delay             107833 non-null  float64
dtypes: float64(1), object(8)
memory usage: 7.4+ MB
None

In [7]:
# check for missing values
missing_values = df.isnull().sum()
print("Missing Values per Column:")
print(missing_values)

Missing Values per Column:
Filght_date                 0
Flight_ID                   0
Departure point             0
Arrival point               0
Scheduled_departure_time    0
Scheduled_arrival_time      0
STATUS                      0
Aircraft_code               0
Arrival delay               0
dtype: int64

In [9]:
# display summary statistics for the numerical columns
summary_statistics = df.describe()
print("Summary Statistics for Numerical Columns:")
print(summary_statistics)

Summary Statistics for Numerical Columns:
       Arrival delay
count  107833.000000
mean       48.733013
std       117.135562
min         0.000000
25%         0.000000
50%        14.000000
75%        43.000000
max      3451.000000